<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this Notebook, Data Science Tools and Ecosystem are summarized ###

**Objectives:**
List of some of the popular languages used in data science are
+ SQL
+ Java
+ Julia 
+ Scala 
+ R

#### Some of the popular languages that data scientists use are:
1.Scala
2.R
3.Python
4.SQL
5.Java Script

#### Some of the commonly used libraries used by Data Scientists are: 
1.TensorFlow
2.Numpy
3.SciPy
4.MatplotLib
5.Pandas

|Column 1|
|:--------:|
|Data Science Tools|
|--------|
|RStudio|  
|--------|
|ApacheSpark|
|--------|
|Tensor Flow|

### Below are a few examples of evaluating Arithmetic Expressions in Python :

In [3]:
#This is a simple arithmetic expression to multiply and then add numbers
(3*4+5)

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes//60
print(hours)

3

## AUTHOR ##
MUSKAN SYED